# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Production & Build outputs
node_modules/
dist/
dist-ssr/
*.local

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System generated temporary logs
.system_generated/
scratch/

# Python environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/

.env
backend/.env
sehatmitra.db
__pycache__/
venv/
node_modules/
dist/